* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  max-width: 90%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 124px;
  height: 124px;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.header__cart img {
  width: 45px;
  height: auto;
}

.header__cart .header__cart-products-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0050AA;
  color: white;
  border: 2px solid white;
  position: absolute;
  right: -5px;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 778px;
  overflow: hidden;
  gap: 15px;
  margin-bottom: 15px;
}

main .banner__zone img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .banner .banner__zone--left {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

main .banner .banner__zone--left .banner__zone-btn {
  background-color: #E60814;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  padding: 20px 15px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

main .banner .banner__zone--left .banner__zone-btn:hover {
  background-color: #0050AA;
}

main .banner .banner__zone--right {
  width: 40%;
}

main .carousel-wrapper {
  width: 100%;
  position: relative;
}

main .carousel-wrapper .carousel {
  width: 100%;
  overflow: hidden;
}

main .carousel-wrapper .carousel__cards {
  width: calc(314px * 10);
  height: 310px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

main .carousel-wrapper .carousel__card {
  display: block;
  width: 314px;
}

main .carousel-wrapper .carousel__cardimg {
  width: 100%;
  height: 233px;
}

main .carousel-wrapper .carousel__cardimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .carousel-wrapper .carousel__cardtext {
  color: #333333;
  font-weight: bold;
  font-size: 23px;
  padding: 25px 10px;
  background-color: #F1F2F3;
}

main .carousel-wrapper .carousel .carousel__scrollbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 303px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

main .carousel-wrapper .carousel .carousel__scrollbtn img {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */